<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.springmvc.board.BoardMapper">
	<resultMap type="boardDTO" id="boardMap">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="writer" property="writer"/>
		<result column="hits" property="hits"/>
		<result column="register_date" property="registerDate"/>
		<result column="modified_date" property="modifiedDate"/>
		<collection column="id" property="fileList" select="selectFiles"
						javaType="list" ofType="fileDTO" />
		<collection column="id" property="commentList" select="kr.or.nextit.springmvc.comment.CommentMapper.selectComments"
						javaType="list" ofType="commentDTO" />
	</resultMap>
	<select id="selectBoards" resultType="boardDTO">
		SELECT
			ID,
			TITLE,
			CONTENT,
			WRITER,
			HITS,
			REGISTER_DATE,
			MODIFIED_DATE
		FROM
			BOARD
		ORDER BY
			ID
	</select>
	<select id="selectBoard" parameterType="int" resultMap="boardMap">
		SELECT
			ID,
			TITLE,
			CONTENT,
			WRITER,
			HITS,
			REGISTER_DATE,
			MODIFIED_DATE
		FROM
			BOARD
		WHERE
			ID = #{id}
	</select>
	<insert id="registerBoard" parameterType="boardDTO"
			useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO
			BOARD
			(TITLE, CONTENT, WRITER)
		VALUES
			(#{title}, #{content}, #{writer})
	</insert>
	<update id="modifyBoard" parameterType="boardDTO">
		UPDATE
			BOARD
		SET
			TITLE = #{title},
			CONTENT = #{content},
			WRITER = #{writer},
			MODIFIED_DATE = SYSDATE
		WHERE
			ID = #{id}
	</update>
	<delete id="removeBoard" parameterType="int">
		DELETE FROM
			BOARD
		WHERE
			ID = #{id}
	</delete>
	
	<!-- 첨부파일 저장: 여러 파일을 저장할 수 있도록 작성해야함 -->
	<insert id="insertFile" parameterType="list">
		INSERT INTO
			ATTACHED_FILE
			(BOARD_ID, FILE_PATH, FILE_NAME, ORIGINAL_NAME, FILE_SIZE)
		<foreach collection="list" item="f" separator="UNION ALL">
		SELECT
			#{f.boardId}, #{f.filePath}, #{f.fileName}, #{f.originalName}, #{f.fileSize}
		FROM
			DUAL
		</foreach>
	</insert>
	
	<select id="selectFiles" parameterType="int" resultType="fileDTO">
		SELECT
			ID,
			BOARD_ID,
			FILE_PATH,
			FILE_NAME,
			ORIGINAL_NAME,
			FILE_SIZE,
			REGISTER_DATE
		FROM
			ATTACHED_FILE
		WHERE
			BOARD_ID = #{boardId}
	</select>
</mapper>