<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.springmvc.membro.MembroMapper">
    <select id="selectMembroList" resultType="membroVO">
        SELECT
            ID,
            PASSWORD,
            NAME,
            EMAIL,
            MOBILE_NUMBER,
            REGISTER_DATE,
            MODIFIED_DATE,
            ENABLED
        FROM
            MEMBRO
        WHERE
            ENABLED = '1'
    </select>
    <select id="selectMembro" parameterType="string" resultType="membroVO">
        SELECT
            ID,
            PASSWORD,
            NAME,
            EMAIL,
            MOBILE_NUMBER,
            REGISTER_DATE,
            MODIFIED_DATE,
            ENABLED
        FROM
            MEMBRO
        WHERE
            ID = #{id}
            AND ENABLED = '1'
    </select>
    <insert id="registerMembro" parameterType="membroVO">
        INSERT INTO
            MEMBRO
            (ID, PASSWORD, NAME, EMAIL, MOBILE_NUMBER)
        VALUES
            (#{id}, #{password}, #{name}, #{email}, #{mobileNumber})
    </insert>
    <insert id="registerAuthority" parameterType="authorityVO">
        INSERT INTO
            AUTHORITIES
            (MEMBRO_ID, AUTHORITY)
        VALUES
            (#{membroId}, #{authority})
    </insert>
    <update id="modifyMembro" parameterType="membroVO">
        UPDATE
            MEMBRO
        <set>
            <if test="name != null">NAME = #{name},</if>
            <if test="email != null">EMAIL = #{email},</if>
            <if test="mobileNumber != null">MOBILE_NUMBER = #{mobileNumber},</if>
            MODIFIED_DATE = SYSDATE
        </set>
        WHERE
            ID = #{id}
    </update>
    <delete id="removeMembro" parameterType="string">
        UPDATE
            MEMBRO
        SET
            MODIFIED_DATE = SYSDATE,
            ENABLED = '0'
        WHERE
            ID = #{id}
    </delete>
    <insert id="grantAuthority" parameterType="authorityVO">
        INSERT INTO
            AUTHORITIES
        VALUES
            (#{membroId}, #{authority})
    </insert>
    <delete id="revokeAuthority" parameterType="string">
        DELETE FROM
            AUTHORITIES
        WHERE
            MEMBRO_ID = #{membroId}
    </delete>
</mapper>




